data/
accuracy_data/
cmake-build-debug/
efficiency_data/
libsocket_hook.so
.idea/
test
CmakeFiles/
CMakeCache.txt
cmake_install.cmake
.vscode/*
Makefile
__pycache__/
record.txt

# Compiled source #
###################
**/real-data/

real-data*/*
real-data2/*
real-data/*
real_data/*
real_data/*/*
Programs/Bytecode/*
Programs/Schedules/*
Programs/Public-Input/*
*.com
*.class
*.dll
*.exe
*.x
*.o
*.so
*.pyc
*.bc
*.sch
*.a
*.static
*.d
local/
*.map
*.gch
app.log
**/app.log
**/info.log
info.log

**/*.log

**/.vscode

./test.py