.idea/
.vscode/*
__pycache__/


# Compiled source #
###################
**/real-data/
**/real_view_data/

real-data*/*
real-data2/*
real-data/*
real_data/*
real_data/*/*

**/info.log
**/debug.log
info.log

**/*.log

**/.vscode

./test.py